@font-face {
    font-family: 'EtnaSans';
    src: url('/fonts/EtnaSans.otf') format('truetype');
}

.title {
    font-family: 'EtnaSans', sans-serif;
    font-size: 2em;
}

@font-face {
    font-family: 'FredokaOne';
    src: url('/fonts/Fredoka.ttf') format('truetype');
}

.title2 {
    font-family: 'FredokaOne';
    font-size: 2em;

}

@font-face {
    font-family: 'Sniglet';
    src: url('/fonts/Sniglet.ttf') format('truetype');
}

.title3 {
    font-family: 'Sniglet';
    font-size: 2em;
}

@font-face {
    font-family: 'Borsok';
    src: url('/fonts/Borsok.otf') format('truetype');
}

.title4 {
    font-family: 'Borsok';
    font-size: 2em;
}

.breakfast {
    font-family: 'Borsok';
    font-size: 2em;
}

.lunch {
    font-family: 'Borsok';
    font-size: 2em;
}

.dinner {
    font-family: 'Borsok';
    font-size: 2em;
}

.rectangle {
    font-family: 'Borsok';
    font-size: 2em;
}

.scrollbar {
    height:fit-content;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 50px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-image: url('/peachandgomacook.png'); 
    background-repeat: no-repeat, no-repeat;
    background-size: 50px;
}   